<section class="container page-content">

  <!-- Breadcrumb navigation -->
  <nav class="breadcrumb alert alert-secondary" aria-label="breadcrumb" *ngIf="groupid !== null">
    <a class="breadcrumb-item" routerLink="{{ navService.getGroupListRoute() }}">Groups</a>
    <span class="breadcrumb-item active" aria-current="page">{{ groupid }}</span>
  </nav>


  <!-- Display group details once loaded. -->
  <div class="card page-content-card" *ngIf="group$ !== null; else groupLoadingTemplate">

    <!-- Group image if set. Else message -->
    <div class="group-image-container">
      <ng-container *ngIf="group$.imageUrl !== null && group$.imageUrl !== ''; else noImageTemplate">
        <img class="card-img-top" src="{{ group$.imageUrl }}" alt="{{ group$.name }} (#{{ group$id }}) image">
      </ng-container>
      <ng-template #noImageTemplate>
        <div class="no-image-message">An image has not been set for this group.</div>
      </ng-template>
    </div>


    <!-- Body (name, full description) -->
    <div class="card-body">
      <h2 class="card-title">{{ group$.name }}</h2>
      <div style="min-height: 5.8em" markdown>{{ group$.description }}</div>
    </div>

    <!-- Footer (edit, leave group) -->
    <div class="card-footer">
      <button class="btn btn-outline-primary" routerLink="chat">
        <i class="material-icons button-icon">chat</i>Chat
      </button>
      <button class="btn btn-outline-danger card-footer-dropdown" data-toggle="modal" data-target="#removeSelfModal">
        <i class="material-icons button-icon">remove</i>Leave
      </button>
    </div>
  </div>

  <!-- Edit and delete (admin only) buttons-->
  <div class="delete-button-container">
    <button class="btn btn-warning delete-button" routerLink="edit">
      <i class="material-icons button-icon">edit</i>Edit
    </button>
  </div>
  <div class="delete-button-container">
    <button class="btn btn-danger delete-button" *ngIf="isAdmin" data-toggle="modal" data-target="#deleteGroupModal">
      <i class="material-icons button-icon">delete</i>Delete Group
    </button>
  </div>



  <!-- Whilst group loading in -->
  <ng-template #groupLoadingTemplate>
    <app-loader *ngIf="!groupLoadingError"></app-loader>
    <div class="alert alert-dark no-more-content-message" *ngIf="groupLoadingError">
      An error occured. Unable to show group.
    </div>
  </ng-template>

</section>




<!-- No margin section for managing users. -->
<section class="container container-no-margin page-content">
  <h2>Manage Members:</h2>

  <!-- Card. Contains 2 tabs. 1 for members, 1 for non-members -->
  <div class="card card-table-container">
    <!-- Header with tabs -->
    <div class="card-header card-header-no-background">
      <ul class="nav nav-tabs card-header-tabs nav-justified">
        <li class="nav-item"><a class="nav-link active" id="membersTab" data-toggle="tab" href="#members" role="tab"
            aria-controls="members" aria-selected="true">Members</a></li>
        <li class="nav-item"><a class="nav-link" id="nonMembersTab" data-toggle="tab" href="#nonMembers" role="tab"
            aria-controls="nonMembers" aria-selected="false">Non-Members</a></li>
      </ul>
    </div>


    <!-- Tabs -->
    <div class="tab-content">
      <!-- Members tab -->
      <div class="tab-pane fade show active" id="members" role="tabpanel" aria-labelledby="membersTab">
        <table class="table table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <!-- Set custom column widths. -->
              <th scope="col" class="table-id-header">ID</th>
              <th scope="col" class="table-displayname-header">DisplayName</th>
              <th scope="col">Options</th>
            </tr>
          </thead>

          <tbody>
            <!-- 1 row per user -->
            <tr scope="row" *ngFor="let user of groupMembers$; let i = index">
              <td>{{ user.id }}</td>
              <td>{{ user.displayname }}</td>
              <!-- Cell with options-->
              <td class="table-options-cell">
                <button class="btn btn-outline-danger table-cell-button" data-toggle="modal"
                  data-target="#removeUserModal" (click)="removeUserIndex = i">
                  <i class="material-icons button-icon">remove</i>Remove
                </button>
                <button class="btn btn-outline-primary table-cell-button" routerLink="{{ getUserChatRoute(user.id) }}">
                  <i class="material-icons button-icon">chat</i>Chat
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Infinite scroll div -->
        <div id="infiniteScrollDiv" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000"
          (scrolled)="groupMembers_onScroll()"></div>
        <!-- Loading animation or end of users message -->
        <app-loader *ngIf="!groupMembers_endOfContent"></app-loader>
        <div class="card-body">
          <div class="alert alert-dark no-more-content-message" *ngIf="groupMembers_endOfContent">
            End of Members...
          </div>
        </div>
      </div>


      <!-- Non-members tab -->
      <div class="tab-pane fade" id="nonMembers" rolte="tabpanel" aria-labelledby="nonMembersTab">
        <table class="table table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <!-- Set custom column widths. -->
              <th scope="col" class="table-id-header">ID</th>
              <th scope="col" class="table-displayname-header">DisplayName</th>
              <th scope="col">Options</th>
            </tr>
          </thead>

          <tbody>
            <!-- 1 row per user -->
            <tr scope="row" *ngFor="let user of groupNonMembers$; let i = index">
              <td>{{ user.id }}</td>
              <td>{{ user.displayname }}</td>
              <!-- Cell with options-->
              <td class="table-options-cell">
                <button class="btn btn-outline-success table-cell-button" data-toggle="modal"
                  data-target="#addUserModal" (click)="addUserIndex = i">
                  <i class="material-icons button-icon">add</i>Add
                </button>
                <button class="btn btn-outline-primary table-cell-button" routerLink="{{ getUserChatRoute(user.id) }}">
                  <i class="material-icons button-icon">chat</i>Chat
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Infinite scroll div -->
        <div id="infiniteScrollDiv" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000"
          (scrolled)="groupNonMembers_onScroll()"></div>

        <!-- Loading animation or end of users message -->
        <app-loader *ngIf="!groupNonMembers_endOfContent"></app-loader>
        <div class="card-body">
          <div class="alert alert-dark no-more-content-message" *ngIf="groupNonMembers_endOfContent">
            End of Non-Members...
          </div>
        </div>
      </div>

    </div>
  </div>


</section>












<!-- Remove user confirmation modal -->
<div class="modal fade" id="removeUserModal" tabindex="-1" role="dialog" aria-labelledby="removeUserModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeUserModalLabel">Remove User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="groupMembers$ !== null && removeUserIndex !== null">
          Are you sure you want to remove user '{{ groupMembers$[removeUserIndex].displayname }} (#{{
          groupMembers$[removeUserIndex].id }})' from the group?
        </div>
        This cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <!-- Delete subject at index, then clear index -->
        <button type="button" class="btn btn-danger" data-dismiss="modal"
          (click)="removeUserFromGroup(removeUserIndex); removeUserIndex = null">Confirm
          Remove</button>
      </div>
    </div>
  </div>

</div>





<!-- Add user confirmation modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeUserModalLabel">Add User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="groupNonMembers$ !== null && addUserIndex !== null">
          Are you sure you want to add user '{{ groupNonMembers$[addUserIndex].displayname }} (#{{
          groupNonMembers$[addUserIndex].id }})' to the group?
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <!-- Delete subject at index, then clear index -->
        <button type="button" class="btn btn-success" data-dismiss="modal"
          (click)="addUserToGroup(addUserIndex); addUserIndex = null">Confirm
          Add</button>
      </div>
    </div>
  </div>

</div>





<!-- Remove self confirmation modal -->
<div class="modal fade" id="removeSelfModal" tabindex="-1" role="dialog" aria-labelledby="removeSelfLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeSelfLabel">Remove Yourself</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          Are you sure you want to remove yourself from this group?
        </div>
        You won't be able to re-join unless an existing member re-adds you.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <!-- Delete subject at index, then clear index -->
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="removeCurrentUserFromGroup()">Confirm
          Remove</button>
      </div>
    </div>
  </div>

</div>





<!-- Admin delete group confirmation modal -->
<div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog" aria-labelledby="deleteGroupLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteGroupLabel">Delete Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          Are you sure you want to delete this group?
        </div>
        This cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <!-- Delete subject at index, then clear index -->
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteGroup()">Confirm
          Delete</button>
      </div>
    </div>
  </div>

</div>