<section class="container page-content">


  <!-- Breadcrumb navigation -->
  <nav class="breadcrumb alert alert-secondary" aria-label="breadcrumb" *ngIf="subjectid !== null && topicid !== null && testid !== null">
    <a class="breadcrumb-item" routerLink="{{ navService.getSubjectListRoute() }}">Subjects</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getSubjectHomeRoute(subjectid) }}">{{ subjectid }}</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getTopicListRoute(subjectid) }}">Topics</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getTopicHomeRoute(subjectid, topicid) }}">{{ topicid }}</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getTestListRoute(subjectid, topicid) }}">Tests</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getTestHomeRoute(subjectid, topicid, testid) }}">{{ testid }}</a>
    <span class="breadcrumb-item active" aria-current="page">User Test Attempt</span>
  </nav>

  <div class="alert alert-danger" *ngIf="errorMessage !== null">
    {{ errorMessage }}
  </div>


  <!-- When test questions have been fetched from api -->
  <ng-container *ngIf="(testQuestions$ !== null); else loadingTemplate">

    <h2>User Test:</h2>
    <div class="card">
      <div class="card-body">
        <!-- Input for user to set user_test name -->
        <input type="text" class="form-control" id="ut_name" placeholder="Custom Name for User Test..." name="ut_name_input"
          maxlength="50">
        <small class="form-text text-muted">
          <div>Users test may optionally be given a custom name.</div>
          <div>If no name is given, the current time will be used instead.</div>
        </small>
      </div>
    </div>

    <!-- Display questions in a grid -->
    <div class="content-grid">

      <!-- 1 card per question -->
      <div class="card" *ngFor="let tq of testQuestions$; let i = index;">
        <!-- Question img (if given) -->
        <img class="card-img-top" src="{{ tq.imageUrl }}" alt="Question {{ i + 1 }} Image">

        <!-- Body (question no., text) -->
        <div class="card-body">
          <h5>Question {{ i + 1 }} / {{ testQuestions$.length }}</h5>
          <p>{{ tq.question }}</p>
        </div>

        <!-- Footer (answer input) -->
        <div class="card-footer">
          <input class="form-control" id="question{{tq.id}}" type="text" placeholder="Your Answer..." name="questionInput{{ tq.id }}"
            maxlength="50">
        </div>
      </div>
    </div>

    <!-- Submit button (bottom) -->
    <div class="submit-button-container">
      <button class="btn btn-primary submit-button" (click)="submitQuestions()" [disabled]="hasSubmitted">Submit
        Answers</button>
    </div>

  </ng-container>



  <!-- Whilst fetching questions from api -->
  <ng-template #loadingTemplate>
    <ng-container *ngIf="!loadiingError; else loadingErrorTemplate">
      <app-loader></app-loader>
    </ng-container>
    <ng-template #loadingErrorTemplate>
      <div class="alert alert-warning">
        Sorry, An Error Occurred.
      </div>
    </ng-template>

  </ng-template>

</section>