div.card {
    margin-bottom: 1em;
}


button.viewQuestionsButton {
    width: 30em;
    max-width: 100%;
    height: 3em;
    margin-bottom: 1em;
}

div.viewQuestionsButtonContainer {
    text-align: center;
}


button.questionCountButton {
    width: 20em;
    max-width: 100%;
    margin-bottom: 0.5em;
}

div.questionCountButtonContainer {
    text-align: center;
}



/* Modal number input and scroller buttons */
input#utq_numberinput {
    -moz-appearance: textfield;
    height: auto;
    font-size: 18pt;
    text-align: center;
}
input#utq_numberinput:invalid {
    border-color: red;
    color: red;
}

button#utq_count_decrement {
    width: 4em;
}

button#utq_count_increment {
    width: 4em;
}