<section class="container page-content">

  <!-- Shown after test has been successfully fetched from api -->
  <ng-container *ngIf="(test$ !== null); else loadingTemplate">
    <h2>{{ test$.name }}</h2>
    <p>{{ test$.description }}</p>



    <!-- Form for creating user test with n number of questions-->
    <section>
      <h2>Attempt a User Test:</h2>
      <p>Please choose a number of questions:</p>
      <div class="questionCountButton">
        <button class="btn btn-primary" (click)="this.generateTest5()">5 Questions</button>
      </div>
      <div class="questionCountButton">
        <button class="btn btn-primary" (click)="this.generateTest10()">10 Questions</button>
      </div>
      <div class="questionCountButton">
        <button class="btn btn-primary" (click)="this.generateTest25()">25 Questions</button>
      </div>
      <div class="questionCountButton">
        <button class="btn btn-primary" data-toggle="modal" data-target="#customQuestionCountModal">Custom Questions</button>
      </div>
    </section>
  </ng-container>



  <!-- Shown before test has been fetched from api -->
  <ng-template #loadingTemplate>
    <!-- Shown if waiting for api call -->
    <ng-container *ngIf="(!this.loadingFailed); else loadingFailedTemplate">
      <app-loader></app-loader>
    </ng-container>
    <!-- Shown if api call failed -->
    <ng-template #loadingFailedTemplate>
      Loading failed.
    </ng-template>

  </ng-template>




  
  <!-- Modal for choosing custom number of questions -->
  <div class="modal fade" id="customQuestionCountModal" tabindex="-1" role="dialog" aria-labelledby="customQuestionCountModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="customQuestionCountModalLabel">How Many Questions?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- number input field -->
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary" id="utq_count_decrement" type="button">-</button>
              </div>
              <input type="number" id="utq_numberinput" class="form-control" value="10" pattern="[0-9]" #questionCountInput>
              <div class="input-group-append">
                  <button class="btn btn-outline-secondary" id="utq_count_increment" type="button">+</button>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="this.generateTestCustom(questionCountInput.value)">Submit</button>
        </div>
      </div>
    </div>
  </div>

</section>