/* Modal number input and scroller buttons */
input#utq_numberinput {
    -moz-appearance: textfield;
    height: auto;
    font-size: 18pt;
    text-align: center;
}
input#utq_numberinput:invalid {
    border-color: red;
    color: red;
}

button#utq_count_decrement {
    width: 4em;
}

button#utq_count_increment {
    width: 4em;
}


div.card {
    margin-bottom: 1em;
}

.page-body {
    width: 50em;
    max-width: 100%;
    margin: 1em auto;
}

.back-button {
    margin: 1em 0em;
    width: 25em;
    max-width: 100%;
}


button.footer-button {
    width: 20em;
    max-width: 100%;
}

.footer-button-container {
    text-align: center;
    margin: 0.5em;
}

.test-description {
    overflow-y: auto;
    height: 10em;
    max-height: 40em;
}




.user-test-button-container {
    text-align: center;
    margin: 0.5em auto;
}

.user-test-button {
    width: 20em;
    max-width: 100%;
    white-space: normal;
}