<header>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <section class="container">
      <!-- Navbar if in a subject -->
      <ng-container *ngIf="this.site.subjectSet(); else elseTemplate">
        <a class="navbar-brand" routerLink="/">
          Math Edu App
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          area-expanded="false" aria-label="Toggle Navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <section id="navbarCollapse" class="collapse navbar-collapse">
          <!-- Main navigation -->
          <div>
            <ul class="navbar-nav" onclick="$('#navbarCollapse').collapse('hide');">
              <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/">Lessons</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" routerLink="/">Tests</a>
              </li>
            </ul>
          </div>

          <!-- Account / Admin navigation (right-align) -->
          <div class="flex-grow-1">
            <ul class="navbar-nav justify-content-end" onclick="$('#navbarCollapse').collapse('hide');">
              <li class="nav-item">
                <a class="nav-link" routerLink="/" >Sign In</a>
              </li>
            </ul>
          </div>
        </section>
      </ng-container>

      <!-- Navbar if on subject select / account area, etc -->
      <ng-template #elseTemplate>
        <a class="navbar-brand" routerLink="/" onclick="$('#navbarCollapse').collapse('hide');">
          Edu Web Platform
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          area-expanded="false" aria-label="Toggle Navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <section id="navbarCollapse" class="collapse navbar-collapse">
          <!-- Main navigation -->
          <div>
            <ul class="navbar-nav" onclick="$('#navbarCollapse').collapse('hide');">
              <li class="nav-item">
                <a class="nav-link" routerLink="/">Subjects</a>
              </li>
            </ul>
          </div>

          <!-- Account / Admin navigation (right-align) -->
          <div class="flex-grow-1">
            <ul class="navbar-nav justify-content-end" onclick="$('#navbarCollapse').collapse('hide');">
              <li class="nav-item">
                <a class="nav-link" routerLink="/">Sign In</a>
              </li>
            </ul>
          </div>
        </section>
      </ng-template>

    </section>
  </nav>
</header>