<section class="container page-content">
  <h2>Select a Subject:</h2>
  <ul class="content-list">

    <li *ngFor="let subject of subjects$; let i = index">
      <section class="card">
        <section class="card-body">
          <h5 class="card-title">{{ subject.name }}</h5>
          <p class="card-text">{{ subject.description }}</p>
          <button class="btn btn-primary enterSubjectButton" routerLink="{{ subject.id }}">View Subject</button>
          <button class="btn btn-danger adminButton" *ngIf="this.isAdmin" (click)="this.deleteSubject(i)">Delete</button>
          <button class="btn btn-warning adminButton" *ngIf="this.isAdmin">Edit</button>
        </section>
      </section>

    </li>

  </ul>

  <!-- Create subject button (admin-only) -->
  <button class="btn btn-primary" *ngIf="this.isAdmin" routerLink="create">Create a Subject</button>
</section>