<section class="container page-content">


  <!-- Breadcrumb navigation -->
  <nav class="breadcrumb alert alert-secondary" aria-label="breadcrumb"
    *ngIf="subjectid !== null && topicid !== null && lesson$ !== null">
    <a class="breadcrumb-item" routerLink="{{ navService.getSubjectListRoute() }}">Subjects</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getSubjectHomeRoute(subjectid) }}">{{ subjectid }}</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getTopicListRoute(subjectid) }}">Topics</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getTopicHomeRoute(subjectid, topicid) }}">{{ topicid }}</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getLessonListRoute(subjectid, topicid) }}">Lessons</a>
    <span class="breadcrumb-item active" aria-current="page">{{ lesson$.id }}</span>
  </nav>



  <button class="btn btn-success back-button" routerLink="../">
    <i class="material-icons button-icon">arrow_back</i>
    Back to Lesson Select
  </button>

  <!-- Shown after successfully fetching lesson from api -->
  <ng-container *ngIf="(lesson$ !== null); else loadingTemplate">

    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{ lesson$.name }}</h2>
        <div class="lesson-body" [innerHTML]="util.sanitizeHTML(lesson$.body)"></div>
      </div>


      <!-- Hidden / auto-hidden badge -->
      <div *ngIf="isAdmin">
        <span class="badge badge-secondary content-hidden-badge" *ngIf="lesson$.hidden">Hidden</span>
      </div>
    </div>

  </ng-container>



  <!-- Shown while attempting to fetch lesson from api -->
  <ng-template #loadingTemplate>
    <ng-container *ngIf="!loadingError; else loadingErrorTemplate">
      <app-loader></app-loader>
    </ng-container>
    <ng-template #loadingErrorTemplate>
      Loading failed
    </ng-template>

  </ng-template>


</section>