<section class="container page-content">

  <!-- Shown after successfully fetching lesson from api -->
  <ng-container *ngIf="(lesson$ !== null); else loadingTemplate">

    <div class="card">
      <h2 class="card-header">{{ lesson$.name }}</h2>
      <div class="card-body" [innerHTML]="lessonBody"></div>
    </div>
  </ng-container>



  <!-- Shown while attempting to fetch lesson from api -->
  <ng-template #loadingTemplate>
    <ng-container *ngIf="!loadingError; else loadingErrorTemplate">
      <app-loader></app-loader>
    </ng-container>
    <ng-template #loadingErrorTemplate>
      Loading failed
    </ng-template>
    
  </ng-template>
  

</section>