<section class="container page-content">

  <!-- Whilst fetching topic from api -->
  <ng-container *ngIf="(this.topic$ !== null); else loadingTemplate">

    <div class="card">
      <h2 class="card-header">{{ topic$.name }}</h2>
      <div class="card-body">
        <div class="page-sub-content">
          <p>{{ topic$.description }}</p>
        </div>

        <div class="viewContentButtonContainer">
          <button class="btn btn-primary viewContentButton" routerLink="lessons">View Lessons</button>
        </div>
        <div class="viewContentButtonContainer">
          <button class="btn btn-primary viewContentButton" routerLink="tests">View Tests</button>
        </div>
      </div>
    </div>



  </ng-container>



  <!-- While fetching topic OR fetching failed -->
  <ng-template #loadingTemplate>
    <!-- Loading -->
    <ng-container *ngIf="!loadingError; else loadingErrorTemplate">
      <app-loader></app-loader>
    </ng-container>
    <!-- Failed-->
    <ng-template #loadingErrorTemplate>
      Loading failed
    </ng-template>

  </ng-template>

</section>