<section class="container page-content">

  <!-- Whilst fetching topic from api -->
  <ng-container *ngIf="(this.topic$ !== null); else loadingTemplate">
    <h2>
      {{ topic$.name }}
    </h2>
    <div class="page-sub-content">
      <p>{{ topic$.description }}</p>
    </div>



    <button class="btn btn-primary viewContentButton" routerLink="lessons">View Lessons</button>
    <button class="btn btn-primary viewContentButton" routerLink="tests">View Tests</button>
  </ng-container>



  <!-- While fetching topic OR fetching failed -->
  <ng-template #loadingTemplate>
    <!-- Loading -->
    <ng-container *ngIf="!loadingError; else loadingErrorTemplate">
      <app-loader></app-loader>
    </ng-container>
    <!-- Failed-->
    <ng-template #loadingErrorTemplate>
      Loading failed
    </ng-template>

  </ng-template>

</section>