<section class="container page-content">


  <!-- Breadcrumb navigation -->
  <nav class="breadcrumb alert alert-secondary" aria-label="breadcrumb" *ngIf="subjectid !== null && topic$ !== null">
    <a class="breadcrumb-item" routerLink="{{ navService.getSubjectListRoute() }}">Subjects</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getSubjectHomeRoute(subjectid) }}">{{ subjectid }}</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getTopicListRoute(subjectid) }}">Topics</a>
    <span class="breadcrumb-item active" aria-current="page">{{ topic$.id }}</span>
  </nav>


  <!-- Whilst fetching topic from api -->
  <ng-container *ngIf="(this.topic$ !== null); else loadingTemplate">

    <div class="card" style="width: 50em; max-width: 100%; margin-left: auto; margin-right: auto">
      <div class="card-body">
        <h2 class="card-title">{{ topic$.name }}</h2>
        <div markdown class="card-text topic-description">{{ topic$.description }}</div>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-primary footer-button" routerLink="lessons">View Lessons</button>
        <button class="btn btn-outline-primary footer-button card-footer-dropdown" routerLink="tests">View Tests</button>
      </div>
    </div>



  </ng-container>



  <!-- While fetching topic OR fetching failed -->
  <ng-template #loadingTemplate>
    <!-- Loading -->
    <ng-container *ngIf="!loadingError; else loadingErrorTemplate">
      <app-loader></app-loader>
    </ng-container>
    <!-- Failed-->
    <ng-template #loadingErrorTemplate>
      Loading failed
    </ng-template>

  </ng-template>

</section>