<section class="container page-content">
  <!-- Breadcrumb navigation -->
  <nav class="breadcrumb alert alert-secondary" aria-label="breadcrumb" *ngIf="subjectid !== null && topicid !== null && lessonid !== null">
    <a class="breadcrumb-item" routerLink="{{ navService.getSubjectListRoute() }}">Subjects</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getSubjectHomeRoute(subjectid) }}">{{ subjectid }}</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getTopicListRoute(subjectid) }}">Topics</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getTopicHomeRoute(subjectid, topicid) }}">{{ topicid }}</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getLessonListRoute(subjectid, topicid) }}">Lessons</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getLessonHomeRoute(subjectid, topicid, lessonid) }}">{{ lessonid }}</a>
    <span class="breadcrumb-item active" aria-current="page">Edit</span>
  </nav>


  <!-- Error message if something goes wrong. -->
  <div class="alert alert-danger" role="alert" *ngIf="this.errorMessage !== null">
    <div>Unable to edit lesson:</div>
    {{ this.errorMessage }}
  </div>

  <h2>Edit a Lesson:</h2>
  <!-- Name -->
  <div class="form-group">
    <label for="name">Lesson Name</label>
    <input name="name" class="form-control form-control-lg" id="lessonName" type="text" placeholder="Enter Lesson Name"
      maxlength="50">
    <small class="form-text text-muted">
      Lesson Name Must Not:
      <ul>
        <li>Be blank.</li>
        <li>Contain more than 50 characters.</li>
        <li>Be the same as an existing lessons name, in this topic.</li>
      </ul>
    </small>
  </div>

  <!-- Description -->
  <div class="form-group">
    <label for="body">Lesson Body</label>
    <quill-editor #body [style]="{ height: '50em' }"></quill-editor>
    <small class="form-text text-muted">
      Lesson Body Must Not:
      <ul>
        <li>Contain more than 65,535 characters.</li>
      </ul>
      <div>Current encoded lesson body: {{ getBodyLength() }} characters.</div>
    </small>
  </div>

  <button class="btn btn-primary" (click)="editLesson()" *ngIf="!this.submitted">Submit</button>

</section>