section.page-sub-content {
    margin: 0 1em;
}

.footer-button {
    width: 10em;
    max-width: 40%;
}

.footer-right {
    float: right;
}

.page-body {
    margin: 1em auto;
    width: 50em;
    max-width: 100%;
}


/* For styling news posts */
.news-post-container {
    width: 50em;
    max-width: 100%;
    margin: 1em auto;
}

.post {
    margin-top: 1em;
    margin-bottom: 1em;
}

.last-modified-badge {
    margin-left: 0.2em;
}

.white-footer {
    background-color: white;
}



/* Subject admins table styling */
.table {
    margin-bottom: 0px; /* Remove margin-bottom. */
    max-width: 100%;
}

.table-options-cell {
    text-align: right;
}

.table-id-header {
    width: 5em;
    max-width: 10%
}

.table-displayname-header {
    width: 30em;
    max-width: 30%;
}

.table-cell-button {
    position: relative;
    max-width: 100%;
    width: 7em;
    margin: 0.25em;
}


.create-button-container {
    margin: 0.5em 0.5em;
}