section.page-sub-content {
    margin: 0 1em;
}

.footer-button {
    width: 10em;
    max-width: 40%;
}

.footer-right {
    float: right;
}

.page-body {
    margin: 1em auto;
    width: 50em;
    max-width: 100%;
}


/* For styling news posts */
.news-post-container {
    width: 50em;
    max-width: 100%;
    margin: 1em auto;
}

.post {
    margin-top: 1em;
    margin-bottom: 1em;
}

.last-modified-badge {
    margin-left: 0.2em;
}

.white-footer {
    background-color: white;
}