<section class="container page-content">


  <!-- Breadcrumb navigation -->
  <nav class="breadcrumb alert alert-secondary" aria-label="breadcrumb" *ngIf="subject$ !== null">
    <a class="breadcrumb-item" routerLink="{{ navService.getSubjectListRoute() }}">Subjects</a>
    <span class="breadcrumb-item active" aria-current="page">{{ subject$.id }}</span>
  </nav>

  <ng-container *ngIf="(this.subject$ !== null); else loadingTemplate">
    <!-- Show subject details. -->
    <div class="card page-body">
      <div class="card-body">
        <h2>{{ this.subject$.name }}</h2>
        <markdown ngPreserveWhitespaces [data]="subject$.description"></markdown>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-primary footer-button" routerLink="topics">Topics</button>
        <button class="btn btn-outline-primary footer-button footer-right" routerLink="news">News</button>
      </div>
    </div>

    <!-- Show latest news posts (with no way to display more, and no admin controls) -->
    <div class="news-post-container">

      <h2>Latest News:</h2>
      <small>Showing {{ newsCount }} latest news posts. To see all news posts, go to the dedicated news area.</small>
      <!-- 1 card per post. -->
      <div class="card post" *ngFor="let post of news">
        <!-- Last modified timestamp as badge. -->
        <div class="last-modified-badge">
          <span class="badge badge-secondary">Last modified: {{ post.modificationDate }}</span>
        </div>

        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <div markdown class="card-text">{{ post.body }}</div>
        </div>
      </div>
    </div>

  </ng-container>


  <ng-template #loadingTemplate>
    <ng-container *ngIf="!loadingError; else loadingErrorTemplate">
      <app-loader></app-loader>
    </ng-container>
    <ng-template #loadingErrorTemplate>
      Loading failed
    </ng-template>

  </ng-template>

</section>