<div class="container page-content">


  <!-- Breadcrumb navigation -->
  <nav class="breadcrumb alert alert-secondary" aria-label="breadcrumb" *ngIf="groupid !== null">
    <a class="breadcrumb-item" routerLink="{{ navService.getUserListRoute() }}">Users</a>
    <span class="breadcrumb-item active" aria-current="page">{{ otherUserId }}</span>
    <span class="breadcrumb-item active" aria-current="page">Chat</span>
  </nav>


  <button class="btn btn-success back-button" routerLink="../../">
    <i class="material-icons button-icon">arrow_back</i>
    Back to Users List
  </button>

  <div class="alert alert-danger" *ngIf="errorMessage !== null">
    {{ errorMessage }}
  </div>

  <h2>User Chat:</h2>

  <!-- Send message input -->
  <div class="form-text text-muted">Messages must be between 1 and 1024 characters long and cannot be blank.</div>
  <div class="input-group mb-3">
    <input type="text" id="messageInput" class="form-control" placeholder="Type Message..." aria-label="Message Input"
      maxlength="1024">
    <div class="input-group-append">
      <button id="messageSubmit" class="btn btn-outline-secondary" type="button" disabled="true" (click)="sendMessage()">Send</button>
    </div>
  </div>

  <!-- Messages panel -->
  <div class="card">
    <div class="card-body">
      <div class="fade-in" *ngFor="let message of messages$; let i = index">
        <!-- If message sent by current user. -->
        <ng-container *ngIf="message.sender_id == userid; else otherUserTemplate">
          <div class="message-current-user-displayname" *ngIf="shouldShowNameOnMessage(i)">
            <div>You</div>
            <div>{{ message.date }}</div>
          </div>
          <div class="message message-current-user">
            <span>{{ message.message }}</span>
          </div>

          <!-- Delete button -->
          <div class="delete-button-container delete-button-container-current-user">
            <button class="btn btn-outline-danger delete-button" (click)="deleteMessage(i)"><i class="material-icons button-icon">delete</i></button>
          </div>
        </ng-container>


        <!-- If message sent by other user. -->
        <ng-template #otherUserTemplate>
          <div class="message-other-user-displayname" *ngIf="shouldShowNameOnMessage(i)">
            <div>{{ message.sender_displayname }} (#{{ message.sender_id}})</div>
            <div>{{ message.date }}</div>
          </div>
          <div class="message message-other-user">
            <span>{{ message.message }}</span>
          </div>
        </ng-template>

      </div>

      <!-- Loading icon if not end of content. -->
      <app-loader *ngIf="!endOfContent"></app-loader>

    </div>

    <!-- If end of messages, display footer with message-->
    <div class="card-footer" *ngIf="endOfContent">
      <h5>No older messages.</h5>
    </div>
  </div>

  <!-- Infinite scroll div -->
  <div id="infiniteScrollDiv" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()"></div>
</div>