<!-- Show posts once posts have been fetched -->
<ng-container *ngIf="(this.postsHaveBeenFetched()); else loadingTemplate">
  <h2>{{ this.title }}</h2>
  
  <!-- Show posts if any were fetched. Otherwise show no posts found template -->
  <ng-container *ngIf="(this.postsExist()); else noPostsTemplate">
    <ul class="content-list">
      <li *ngFor="let post of posts$">
        <section class="card">
          <section class="card-header">
            Posted on {{ post.modificationDate }}
          </section>
  
          <section class="card-body">
            <h5><strong>{{ post.title }}</strong></h5>
            <p class="card-text">{{ post.body }}</p>
          </section>
        </section>
      </li>
    </ul>
  </ng-container>



  <!-- Template if no posts exist / were found -->
  <ng-template #noPostsTemplate>
    Sorry, no news posts were found.
  </ng-template>



  <!-- Show controls if specified -->
  <section *ngIf="(this.shouldShowControls())" class="controls" style="text-align: center">
    Showing posts {{ this.offset + 1 }} to {{ this.offset + this.count }}.
    <button class="btn btn-primary" id="prevPosts" (click)="this.getNewerPosts()" style="float: left;">
      Newer Posts
    </button>
    <button class="btn btn-primary" id="nextPosts" style="float: right" (click)="this.getOlderPosts()">
      Older Posts
    </button>
  </section>
</ng-container>



<!-- Template whilst posts are being fetched -->
<ng-template #loadingTemplate>
  <app-loader></app-loader>
</ng-template>