<section class="container page-content">


  <!-- List of posts -->
  <ul class="content-list">

    <h2>News Posts:</h2>
    <li *ngFor="let post of posts$; let i = index">

      <div class="card">
        <h5 class="card-header">Posted on {{ post.modificationDate }}</h5>
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.body }}</p>

          <!-- admin buttons -->
          <div class="dropdown show" *ngIf="this.isAdmin">
            <a class="options-dropdown" id="postOptionsDropdownLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="material-icons options-icon">settings</i>
            </a>

            <div class="dropdown-menu" aria-labelledby="postOptionsDropdownLink">
              <a class="dropdown-item">
                <i class="material-icons options-icon">edit</i>
                Edit
              </a>
              <a class="dropdown-item deleteButton">
                <i class="material-icons options-icon">delete</i>
                Delete
              </a>
            </div>
          </div>

        </div>

      </div>

    </li>
  </ul>



  <!-- Infinite scroll div -->
  <div *ngIf="this.doInfiniteScroll">
    <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()" *ngIf="this.doInfiniteScroll"></div>
  
    <app-loader *ngIf="!endOfContent; else endOfContentTemplate"></app-loader>
    <ng-template #endOfContentTemplate>
      <div class="alert alert-warning">
        End of Posts
      </div>
    </ng-template>
  </div>

</section>