button.addButton {
    width: 100%;
    height: 3em;
    margin-bottom: 1em;
}

button.viewButton {
    width: 100%;
    height: 3em;
    margin-bottom: 1em;
}

button.adminButton {
    width: 45%;
}

button.adminButtonEdit {
    margin-right: 5%;
}

button.adminButtonDelete {
    margin-left: 5%;
}

div.questionTextContainer {
    margin-bottom: 1em;
}

div.questionTopSection50 {
    display: inline-block;          /* Display horizontally. */
    width: 50%;                     /* Ensure 2 takes up 100% of space. */
    height: 10em;
    vertical-align: top;
}

div.questionTopSectionImage {
    text-align: right;              /* Align image right. */
}