<section class="container page-content">


  <!-- List of test questions-->
  <ul class="content-list">
    <!-- Create question button -->
    <button class="btn btn-primary addButton" routerLink="create">Create a Question</button>
    <h5>Test Questions:</h5>
    <li *ngFor="let question of testQuestions$; let i = index">
      <div class="card">
        <div class="card-body">
          <div class="questionTextContainer">
            <!-- Left section (text) -->
            <div class="questionTopSection50">
              <h5>{{ question.question }}</h5>
              <p>{{ question.answer }}</p>
            </div>
            <!-- Right section (image) -->
            <div class="questionTopSection50 questionTopSectionImage">
              <img src="https://placehold.it/128x128" alt="Question Image" height="100%">
            </div>
          </div>

          <!-- Buttons at bottom -->
          <div>
            <button class="btn btn-primary viewButton" routerLink="{{ question.id }}">View Question</button>
          </div>
          <div>
            <button class="btn btn-warning adminButton adminButtonEdit">Edit</button>
            <button class="btn btn-danger adminButton adminButtonDelete">Delete</button>
          </div>
        </div>
      </div>
    </li>
  </ul>



  <!-- Inifinite scroll div. Loads more questions unless all loaded. -->
  <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
  </div>



  <!-- Shows loading icon unless all questions loaded, in which case message is shown -->
  <app-loader *ngIf="!endOfContent; else endOfContentTemplate"></app-loader>
  <ng-template #endOfContentTemplate>
    <div class="alert alert-warning">
      End of Test Questions
    </div>
  </ng-template>


</section>