button.addButton {
    width: 100%;
    height: 3em;
    margin-bottom: 1em;
}

button.viewButton {
    width: 100%;
    height: 3em;
    margin-bottom: 1em;
}

i.options-icon {
    font-size: 16pt;
}

.dropdown-item {
    cursor: pointer;
}

.options-dropdown {
    cursor: pointer;
}

a.deleteButton {
    color: red !important;
}


div.questionTextContainer {
    margin-bottom: 1em;
}

div.questionTopSection50 {
    display: inline-block;          /* Display horizontally. */
    width: 50%;                     /* Ensure 2 takes up 100% of space. */
    height: 10em;
    vertical-align: top;
}

div.questionTopSectionImage {
    text-align: right;              /* Align image right. */
}







/* NEW */
/* Container for question image */
.question-image-container {
    /* Set fixed height. Limit to that height. */
    height: 20em;
    max-height: 20em;
    border-bottom: 1px solid black;
    background-color: lightgray;
    /* Inherit card border radius. */
    border-radius: inherit;
    /* Set 0 bottom radius to act as separator. */
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.no-image-message {
    text-align: center;
    margin-top: 2em;
}