<section class="container page-content">


  <!-- Breadcrumb navigation -->
  <nav class="breadcrumb alert alert-secondary" aria-label="breadcrumb" *ngIf="subjectid !== null && topicid !== null && testid !== null">
    <a class="breadcrumb-item" routerLink="{{ navService.getSubjectListRoute() }}">Subjects</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getSubjectHomeRoute(subjectid) }}">{{ subjectid }}</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getTopicListRoute(subjectid) }}">Topics</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getTopicHomeRoute(subjectid, topicid) }}">{{ topicid }}</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getTestListRoute(subjectid, topicid) }}">Tests</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getTestHomeRoute(subjectid, topicid, testid) }}">{{ testid }}</a>
    <span class="breadcrumb-item active" aria-current="page">Questions</span>
  </nav>


  <!-- Create button -->
  <div class="create-button-container">
    <button class="btn btn-success create-button" routerLink="create">
      <i class="material-icons button-icon">add</i>Create a Test Question
    </button>
  </div>


  <h2>Question Pool:</h2>
  <!-- Grid of content -->
  <div class="content-grid">

    <!-- 1 card per question -->
    <div class="card" *ngFor="let tq of testQuestions$; let i = index">
      <!-- Image at top -->
      <div class="question-image-container">
        <!-- Show image if set. -->
        <ng-container *ngIf="tq.imageUrl !== null && tq.imageUrl !== ''; else noImageTemplate">
          <img class="card-img-top question-image" src="{{ tq.imageUrl }}" alt="Question Image">
        </ng-container>
        <!-- Show message if not set. -->
        <ng-template #noImageTemplate>
          <div class="no-image-message">An image has not been set for this question.</div>
        </ng-template>
      </div>

      <!-- Body (question, answer) -->
      <div class="card-body">
        <h5 class="card-title">{{ tq.question }}</h5>
        <div class="card-text content-description">{{ tq.answer }}</div>
      </div>

      <!-- Footer (options) -->
      <div class="card-footer">
        <button class="btn btn-outline-primary view-button" routerLink="{{ tq.id }}">View</button>

        <!-- dropdown -->
        <div class="btn-group card-footer-dropdown">
          <!-- toggle button -->
          <button class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="material-icons button-icon">settings</i>
          </button>

          <!-- dropdown menu -->
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" routerLink="{{ tq.id }}/edit">
              <i class="material-icons button-icon dropdown-icon">edit</i>Edit
            </button>
            <button class="dropdown-item" data-toggle="modal" data-target="#deleteModal" (click)="deleteQuestionIndex = i">
              <i class="material-icons button-icon dropdown-icon dropdown-icon-delete">delete</i>Delete
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>


  <!-- Inifinite scroll div. Loads more questions unless all loaded. -->
  <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()"></div>



  <!-- Shows loading icon unless all questions loaded, in which case message is shown -->
  <app-loader *ngIf="!endOfContent; else endOfContentTemplate"></app-loader>
  <ng-template #endOfContentTemplate>
    <div class="alert alert-dark no-more-content-message">
      No more Test Questions...
    </div>
  </ng-template>


</section>




<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="testQuestions$ !== null && deleteQuestionIndex !== null">
          Are you sure you want to delete question '{{ testQuestions$[deleteQuestionIndex].question }}'?
        </div>
        This cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <!-- Delete subject at index, then clear index -->
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteTestQuestion(deleteQuestionIndex); deleteQuestionIndex = null">Confirm
          Delete</button>
      </div>
    </div>
  </div>

</div>