<section class="container page-content">

  <div class="alert alert-success" *ngIf="this.message != null">
    {{ message }}
  </div>

  <div class="form-group">
    <h5>Search Users by DisplayName:</h5>
    <input class="form-control form-control-lg" id="userSearchInput" type="text" placeholder="Enter DisplayName..."
      maxlength="50">
    <small class="form-text text-muted">
      <div>To view all users again after previously search, please clear the searchbox.</div>
      <div>Note that the unique user identifier suffix, e.g. '(#42)', is <strong>not</strong> included in the
        search.</div>
    </small>
  </div>

  <!-- When not searching, show all users -->
  <ng-container *ngIf="!isSearching; else searchingTemplate">
    <h2>All Users:</h2>

    <!-- List of users -->
    <ul class="content-list">

      <li *ngFor="let user of users$; let i = index">

        <!-- Show a card for each user. Skip if user is the current user. -->
        <!-- Do not show banned users unless current user is admin.-->
        <div class="card" *ngIf="user.id !== userid && (!user.banned || isAdmin)">
          <div class="card-body">
            <div class="user-name">
              <span class="badge badge-success" *ngIf="user.admin">Admin</span>
              <span class="badge badge-danger" *ngIf="user.banned">Banned</span>
              <h5>{{ user.displayname }} (#{{ user.id }})</h5>
            </div>

            <!-- Options -->
            <div class="dropdown show options-button">
              <a class="options-dropdown" id="userOptionsDropdownLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="material-icons options-icon">settings</i>
              </a>

              <!-- Options message -->
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userOptionsDropdownLink">
                <!-- Send message (don't show if user banned) -->
                <div *ngIf="!user.banned">
                  <a class="dropdown-item" routerLink="chat/{{ user.id }}">
                    <i class="material-icons options-icon">chat</i>
                    Chat
                  </a>
                  <div class="dropdown-divider" *ngIf="isAdmin"></div>
                </div>

                <!-- Give / Remove admin status (admin-only) -->
                <!-- Banned user cannot be set to admin before being unbanned. -->
                <!-- On click, set the users admin status to opposite of current -->
                <a class="dropdown-item" *ngIf="isAdmin && !user.banned" (click)="setAdminStatus(i, !user.admin)">
                  <ng-container *ngIf="user.admin; else notAdminTemplate">
                    <i class="material-icons options-icon">arrow_downward</i>
                    Demote to Regular User
                  </ng-container>
                  <ng-template #notAdminTemplate>
                    <i class="material-icons options-icon">arrow_upward</i>
                    Promote to Admin User
                  </ng-template>
                </a>

                <!-- Ban / unban user (admin-only) -->
                <a class="dropdown-item" *ngIf="isAdmin" (click)="setBannedStatus(i, !user.banned)">
                  <ng-container *ngIf="user.banned; else notBannedTemplate">
                    <i class="material-icons options-icon">sentiment_satisfied_alt</i>
                    Unban user
                  </ng-container>
                  <ng-template #notBannedTemplate>
                    <i class="material-icons options-icon">block</i>
                    Ban User
                  </ng-template>

                </a>
              </div>

            </div>
          </div>
        </div>

      </li>
    </ul>
  </ng-container>

  <!-- When searching, show search results -->
  <ng-template #searchingTemplate>
    <h2>Matched Users:</h2>

    <!-- List of users -->
    <ul class="content-list">

      <li *ngFor="let user of searchUsers; let i = index">

        <!-- Show a card for each user. Skip if user is the current user. -->
        <!-- Do not show banned users unless current user is admin.-->
        <div class="card" *ngIf="user.id !== userid && (!user.banned || isAdmin)">
          <div class="card-body">
            <div class="user-name">
              <span class="badge badge-success" *ngIf="user.admin">Admin</span>
              <span class="badge badge-danger" *ngIf="user.banned">Banned</span>
              <h5>{{ user.displayname }} (#{{ user.id }})</h5>
            </div>

            <!-- Options -->
            <div class="dropdown show options-button">
              <a class="options-dropdown" id="userOptionsDropdownLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="material-icons options-icon">settings</i>
              </a>

              <!-- Options message -->
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userOptionsDropdownLink">
                <!-- Send message (don't show if user banned) -->
                <div *ngIf="!user.banned">
                  <a class="dropdown-item" routerLink="chat/{{ user.id }}">
                    <i class="material-icons options-icon">chat</i>
                    Chat
                  </a>
                  <div class="dropdown-divider" *ngIf="isAdmin"></div>
                </div>

                <!-- Give / Remove admin status (admin-only) -->
                <!-- Banned user cannot be set to admin before being unbanned. -->
                <!-- On click, set the users admin status to opposite of current -->
                <a class="dropdown-item" *ngIf="isAdmin && !user.banned" (click)="search_setAdminStatus(i, !user.admin)">
                  <ng-container *ngIf="user.admin; else notAdminTemplate">
                    <i class="material-icons options-icon">arrow_downward</i>
                    Demote to Regular User
                  </ng-container>
                  <ng-template #notAdminTemplate>
                    <i class="material-icons options-icon">arrow_upward</i>
                    Promote to Admin User
                  </ng-template>
                </a>

                <!-- Ban / unban user (admin-only) -->
                <a class="dropdown-item" *ngIf="isAdmin" (click)="search_setBannedStatus(i, !user.banned)">
                  <ng-container *ngIf="user.banned; else notBannedTemplate">
                    <i class="material-icons options-icon">sentiment_satisfied_alt</i>
                    Unban user
                  </ng-container>
                  <ng-template #notBannedTemplate>
                    <i class="material-icons options-icon">block</i>
                    Ban User
                  </ng-template>

                </a>
              </div>

            </div>
          </div>
        </div>



      </li>
    </ul>
  </ng-template>






  <!-- Infinite scroll div -->
  <div id="infiniteScrollDiv" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()"></div>

  <app-loader *ngIf="!endOfContent; else endOfContentTemplate"></app-loader>
  <ng-template #endOfContentTemplate>
    <div class="alert alert-warning">
      End of Users
    </div>
  </ng-template>
</section>