<section class="container page-content">

  <!-- Breadcrumb navigation -->
  <nav class="breadcrumb alert alert-secondary" aria-label="breadcrumb">
    <span class="breadcrumb-item active" aria-current="page">Users</span>
  </nav>


  <div class="alert alert-success" *ngIf="this.message != null">
    {{ message }}
  </div>


  <!-- User search input -->
  <div class="card">
    <div class="card-body">

      <div class="form-group">
        <h5>Search Users by DisplayName:</h5>
        <input class="form-control form-control-lg" id="userSearchInput" type="text" placeholder="Enter DisplayName..."
          maxlength="30">
        <small class="form-text text-muted">
          <div>To view all users again after previously search, please clear the searchbox.</div>
          <div>Note that the unique user identifier suffix, e.g. '(#42)', is <strong>not</strong> included in the
            search.</div>
        </small>
      </div>

    </div>
  </div>


  <!-- When not searching, show all users -->
  <ng-container *ngIf="!isSearching; else searchingTitleTemplate">
    <h2>All Users:</h2>
  </ng-container>
  <ng-template #searchingTitleTemplate>
    <h2>Matched Users:</h2>
  </ng-template>


  <!-- List of users -->
  <div class="content-grid">

    <!-- 1 card per user. Either get full user list or search list depending on if searching. -->
    <div class="card" *ngFor="let user of getUserList(); let i = index">

      <!-- Card body (user displayname)-->
      <div class="card-body">
        <h5>{{ user.displayname }} (#{{ user.id }})</h5>
      </div>


      <!-- Badges (admin, banned) -->
      <div class="badge-container">
        <span class="badge badge-success" *ngIf="user.admin">Admin</span>
        <span class="badge badge-danger" *ngIf="user.banned">Banned</span>
      </div>


      <!-- Card footer (chat button, admin dropdown) -->
      <div class="card-footer" style="vertical-align: middle">
        <!-- Chat button (if user not banned) -->
        <button class="btn btn-outline-primary" routerLink="chat/{{ user.id }}" *ngIf="!user.banned">
          <i class="material-icons button-icon">chat</i>Chat
        </button>

        <!-- Admin options (set admin/banned status) -->
        <div class="btn-group card-footer-dropdown" *ngIf="isAdmin">
          <!-- Toggle button -->
          <button class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="material-icons button-icon">settings</i>
          </button>

          <!-- Dropdown menu. -->
          <div class="dropdown-menu dropdown-menu-right">
            <!-- Set/Remove admin. Changes based on current user admin status. Never shown if user is banned. -->
            <button class="dropdown-item" *ngIf="isAdmin && !user.banned" (click)="setAdminStatus(i, !user.admin)">
              <ng-container *ngIf="user.admin; else userNotAdminTemplate">
                <i class="material-icons button-icon dropdown-icon">arrow_downward</i>Demote to Regular User
              </ng-container>
              <ng-template #userNotAdminTemplate>
                <i class="material-icons button-icon dropdown-icon">arrow_upward</i>Promote to Admin
              </ng-template>
            </button>

            <!-- Set/Remove ban. Changed based on current user banned status. -->
            <button class="dropdown-item" *ngIf="isAdmin" (click)="setBannedStatus(i, !user.banned)">
              <ng-container *ngIf="user.banned; else userNotBannedTemplate">
                <i class="material-icons button-icon dropdown-icon">sentiment_satisfied_alt</i>Unban User
              </ng-container>
              <ng-template #userNotBannedTemplate>
                <i class="material-icons button-icon dropdown-icon">block</i>Ban User
              </ng-template>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>




  <!-- Infinite scroll div -->
  <div id="infiniteScrollDiv" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()"></div>

  <app-loader *ngIf="!endOfContent; else endOfContentTemplate"></app-loader>
  <ng-template #endOfContentTemplate>
    <div class="alert alert-dark no-more-content-message">
      No more Users...
    </div>
  </ng-template>
</section>