<section class="container page-content">

  <!-- Breadcrumb navigation -->
  <nav class="breadcrumb alert alert-secondary" aria-label="breadcrumb" *ngIf="subjectid !== null && topicid !== null && testid !== null">
    <a class="breadcrumb-item" routerLink="{{ navService.getSubjectListRoute() }}">Subjects</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getSubjectHomeRoute(subjectid) }}">{{ subjectid }}</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getTopicListRoute(subjectid) }}">Topics</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getTopicHomeRoute(subjectid, topicid) }}">{{ topicid }}</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getTestListRoute(subjectid, topicid) }}">Tests</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getTestHomeRoute(subjectid, topicid, testid) }}">{{ testid }}</a>
    <span class="breadcrumb-item active" aria-current="page">Edit</span>
  </nav>


  <div class="card">
    <div class="card-body">

      <!-- Error message if something goes wrong. -->
      <div class="alert alert-danger" role="alert" *ngIf="this.errorMessage !== null">
        <div>Unable to edit test:</div>
        {{ this.errorMessage }}
      </div>

      <h2>Edit a Test:</h2>
      <!-- Name -->
      <div class="form-group">
        <label for="name">Test Name</label>
        <input name="name" class="form-control form-control-lg" id="testName" type="text" placeholder="Enter Test Name"
          maxlength="50">
        <small class="form-text text-muted">
          Test Name Must Not:
          <ul>
            <li>Be blank.</li>
            <li>Be the same as an existing tests name, in this topic.</li>
            <li>Contain more than 50 characters.</li>
            <ul>
              <li>Current name length: {{ nameValue.length }}</li>
            </ul>
          </ul>
        </small>
      </div>

      <!-- Description -->
      <div class="form-group">
        <label for="description">Test Description (Optional)</label>
        <textarea name="description" class="form-control" id="testDescription" placeholder="Enter Test Desciption (Optional)"
          rows="10" maxlength="4096"></textarea>
        <small class="form-text text-muted">
          Description may be styled using Markdown.
          <div>
            Test Description Must Not:
            <ul>
              <li>Contain more than 4096 characters.</li>
              <ul>
                <li>Current description length: {{ descriptionValue.length }}</li>
              </ul>
            </ul>
          </div>
        </small>
      </div>


      <!-- Hidden -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="hidden" id="testHidden" value="option1">
        <label class="form-check-label" for="testHidden">Hidden</label>
        <small class="form-text text-muted">
          When hidden, a test will only be visible to admin users.
        </small>
      </div>


    </div>

    <div class="card-footer">
      <div class="submit-button-container">
        <button class="btn btn-primary submit-button" (click)="editTest()" *ngIf="!this.submitted">Submit</button>
      </div>
    </div>
  </div>


  <!-- Preview -->
  <h2>Preview:</h2>
  <div class="card">
    <div class="card-body">
      <h2>{{ nameValue }}</h2>
      <markdown [data]="descriptionValue" ngPreserveWhitespaces></markdown>
    </div>

    <!-- Hidden / auto-hidden badge -->
    <div>
      <span class="badge badge-secondary content-hidden-badge" *ngIf="hiddenValue">Hidden</span>
      <span class="badge badge-secondary content-hidden-badge" *ngIf="!hiddenValue && this.test$ !== null && (this.test$.testQuestionCount) == 0">Auto-Hidden</span>
    </div>
  </div>

</section>