<section class="container page-content">


  <!-- list of messages -->
  <ul class="content-list">

    <h2>Messages Sent to User:</h2>
    <li *ngFor="let message of messages$; let i = index">

      <div class="card">
        <h5 class="card-header">Date: {{ message.date }}</h5>
        <div class="card-body">
          <!-- main content (left) -->
          <div class="message-content">
            <h5>{{ message.message }}</h5>
            <div>To: {{ message.receiver_displayname }} (#{{ message.receiver_id }})</div>
          </div>


          <!-- Options buttons (right) -->
          <div class="dropdown show message-options">
            <a class="options-dropdown" id="messageOptionsDropdownLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="material-icons options-icon">settings</i>
            </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messageOptionsDropdownLink">
              <!-- Delete -->
              <a class="dropdown-item" (click)="deleteMessage(i)">
                <i class="material-icons options-icon">delete</i>
                Delete
              </a>
            </div>
          </div>

        </div>
      </div>

    </li>
  </ul>


  <!-- Infinite scroll div -->
  <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()"></div>

  <app-loader *ngIf="!endOfContent; else endOfContentTemplate"></app-loader>
  <ng-template #endOfContentTemplate>
    <div class="alert alert-warning">
      End of Messages
    </div>
  </ng-template>

</section>