/* You can add global styles to this file, and also import other style files */

/* Global stuff */
html {
  height: calc(100% + 1px);
}
body {
    background-color: whitesmoke;
}




/* General CSS */
.page-content {
    margin-top: 1em;
    margin-bottom: 1em;
}




/* Subject / topics / lesson / test list CSS (shared) */
.content-grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1em;
  margin: 1em 0em;
}

@media (min-width: 768px) {
  .content-grid {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 992px) {
  .content-grid {
    grid-template-columns: auto auto auto;
  }
}

.content-description {
  line-height: 1.2em;
  height: 5.8em;
  max-height: 5.8em;
  overflow: hidden;
}


.no-more-content-message {
  text-align: center;
  width: 30em;
  max-width: 100%;
  margin: 1em auto;
}

span.content-hidden-badge {
  float: right;
  margin-bottom: 0.2em;
  margin-right: 0.2em
}





/* ICONS */
/* Icons in buttons. Aligns to center. */
i.button-icon {
    text-align: center;
    vertical-align: text-bottom;
    position: relative;
    top: 2px;
}
i.dropdown-icon {
  margin-right: 0.5em;
}

i.dropdown-icon-edit {
  color: blue;
}
i.dropdown-icon-delete {
  color: red;
}



/* BUTTONS */
button.view-button {
  width: 10em;
  max-width: 40%;
}

button.create-button {
  
  width: 20em;
  max-width: 100%;
}
.create-button-container {
  text-align: right;
  
}

.card-footer-dropdown {
  float: right;
}

button.delete-dropdown-option {
  color: red !important;
}



/* Bootstrap overrides */
.card {
  border-color: blue;         /* Give colored outline. */
}

.container-no-margin {
  padding: 0px;
}



/* Animation related */
/* Fade in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    
  }
  100% {
    opacity: 1;
  }
}

/* Make all cards fade in over 0.5s on load */
.card {
  animation: 0.5s ease-out 0s 1 fadeIn;
}

/* Make dropdown menus fade in over 0.2s */
div.dropdown-menu {
  animation: 0.1s ease-out 0s 1 fadeIn;
}

/* Make table rows fade in over 0.5s */
tr.content-row {
  animation: 0.5s ease-out 0s 1 fadeIn;
}