<section class="container page-content">


  <!-- Breadcrumb navigation -->
  <nav class="breadcrumb alert alert-secondary" aria-label="breadcrumb" *ngIf="subjectid !== null">
    <a class="breadcrumb-item" routerLink="{{ navService.getSubjectListRoute() }}">Subjects</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getSubjectHomeRoute(subjectid) }}">{{ subjectid }}</a>
    <span class="breadcrumb-item active" aria-current="page">Topics</span>
  </nav>

  
  <!-- List of topics -->
  <ul class="content-list">
    <!-- Create topic button -->
    <div class="createButtonContainer">
      <button class="btn btn-primary createButton" *ngIf="this.isAdmin" routerLink="create">Create a Topic</button>
    </div>

    <h2>Select a Topic:</h2>
    <li *ngFor="let topic of topics$; let i = index">
      <section class="card">
        <section class="card-body">
          <h5 class="card-title">{{ topic.name }}</h5>
          <p class="card-text">{{ topic.description }}</p>

          <!-- buttons -->
          <div class="viewButtonContainer">
            <button class="btn btn-primary viewButton" routerLink="{{ topic.id }}">View Topic</button>
          </div>

          <!-- Admin buttons (dropdown) -->
          <div class="dropdown show" *ngIf="this.isAdmin">
            <a class="options-dropdown" id="topicOptionsDropdownLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="material-icons options-icon">settings</i>
            </a>

            <div class="dropdown-menu" aria-labelledby="topicOptionsDropdownLink">
              <a class="dropdown-item" routerLink="{{ topic.id }}/edit">
                <i class="material-icons">edit</i>
                Edit
              </a>
              <a class="dropdown-item deleteButton" (click)="deleteTopic(i)">
                <i class="material-icons">delete</i>
                Delete
              </a>
            </div>
          </div>
        </section>
      </section>
    </li>
  </ul>

  <!-- Infinite scroll div -->
  <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()"></div>

  <app-loader *ngIf="!endOfContent; else endOfContentTemplate"></app-loader>
  <ng-template #endOfContentTemplate>
    <div class="alert alert-warning">
      End of Topics
    </div>
  </ng-template>
</section>