<section class="container page-content">


  <!-- Breadcrumb navigation -->
  <nav class="breadcrumb alert alert-secondary" aria-label="breadcrumb" *ngIf="subjectid !== null">
    <a class="breadcrumb-item" routerLink="{{ navService.getSubjectListRoute() }}">Subjects</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getSubjectHomeRoute(subjectid) }}">{{ subjectid }}</a>
    <span class="breadcrumb-item active" aria-current="page">Topics</span>
  </nav>


  <!-- Create button -->
  <div class="create-button-container" *ngIf="isAdmin">
    <button class="btn btn-success create-button" routerLink="create">
      <i class="material-icons button-icon">add</i>Create a Topic
    </button>
  </div>


  <!-- Grid of topics -->
  <div class="content-grid">

    <!-- 1 card per topic -->
    <div class="card" *ngFor="let topic of topics$; let i = index">
      <div class="card-body">
        <h5 class="card-title">{{ topic.name }}</h5>
        <div markdown class="card-text content-description">{{ topic.description }}</div>
      </div>

      <!-- Hidden / auto-hidden badge -->
      <div *ngIf="isAdmin">
        <span class="badge badge-secondary content-hidden-badge" *ngIf="topic.hidden">Hidden</span>
        <span class="badge badge-secondary content-hidden-badge"
          *ngIf="!topic.hidden && topic.lessonCount + topic.testCount === 0">Auto-Hidden</span>
      </div>


      <!-- Card footer (options) -->
      <div class="card-footer">
        <button class="btn btn-outline-primary view-button" routerLink="{{ topic.id }}">View</button>

        <!-- Admin dropdown -->
        <div class="btn-group card-footer-dropdown" *ngIf="isAdmin">
          <!-- Toggle button -->
          <button class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="material-icons button-icon">settings</i>
          </button>
          <!-- dropdown (edit, delete) -->
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" routerLink="{{ topic.id }}/edit">
              <i class="material-icons button-icon">edit</i>Edit
            </button>
            <button class="dropdown-item delete-dropdown-option" data-toggle="modal" data-target="#deleteModal"
              (click)="deleteTopicIndex = i">
              <i class="material-icons button-icon">delete</i>Delete
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>



  <!-- Infinite scroll div -->
  <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()"></div>

  <app-loader *ngIf="!endOfContent; else endOfContentTemplate"></app-loader>
  <ng-template #endOfContentTemplate>
    <div class="alert alert-dark no-more-content-message">
      No more topics...
    </div>
  </ng-template>
</section>



<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Topic</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="topics$ !== null && deleteTopicIndex !== null">
          Are you sure you want to delete topic '{{ topics$[deleteTopicIndex].name }}'?
        </div>
        This cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <!-- Delete topic at index, then clear index -->
        <button type="button" class="btn btn-danger" data-dismiss="modal"
          (click)="deleteTopic(deleteTopicIndex); deleteTopicIndex = null">Confirm
          Delete</button>
      </div>
    </div>
  </div>

</div>