<section class="container page-content">


  <!-- Breadcrumb navigation -->
  <nav class="breadcrumb alert alert-secondary" aria-label="breadcrumb" *ngIf="subjectid !== null">
    <a class="breadcrumb-item" routerLink="{{ navService.getSubjectListRoute() }}">Subjects</a>
    <a class="breadcrumb-item" routerLink="{{ navService.getSubjectHomeRoute(subjectid) }}">{{ subjectid }}</a>
    <span class="breadcrumb-item active" aria-current="page">Topics</span>
  </nav>


  <!-- Create button -->
  <div class="create-button-container">
    <button class="btn btn-success create-button" routerLink="create">
      <i class="material-icons button-icon">add</i>Create a Topic
    </button>
  </div>


  <!-- Grid of topics -->
  <div class="content-grid">

    <!-- 1 card per topic -->
    <div class="card" *ngFor="let topic of topics$; let i = index">
      <div class="card-body">
        <h5 class="card-title">{{ topic.name }}</h5>
        <div class="card-text content-description">{{ topic.description }}</div>
      </div>

      <!-- Card footer (options (view, { edit, delete } ) )-->
      <div class="card-footer">
        <button class="btn btn-outline-primary view-button" routerLink="{{ topic.id }}">View</button>

        <!-- Admin dropdown -->
        <div ngbDropdown placement="bottom-right" class="card-footer-dropdown">
          <!-- Toggle button -->
          <button ngbDropdownToggle class="btn btn-outline-dark">
            <i class="material-icons button-icon">settings</i>
          </button>
          <!-- dropdown (edit, delete) -->
          <div ngbDropdownMenu>
            <button class="dropdown-item" routerLink="{{ topic.id }}/edit">
              <i class="material-icons button-icon dropdown-icon dropdown-icon-edit">edit</i>Edit
            </button>
            <button class="dropdown-item" (click)="deleteTopic(i);">
              <i class="material-icons button-icon dropdown-icon dropdown-icon-delete">delete</i>Delete
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>



  <!-- Infinite scroll div -->
  <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()"></div>

  <app-loader *ngIf="!endOfContent; else endOfContentTemplate"></app-loader>
  <ng-template #endOfContentTemplate>
    <div class="alert alert-dark">
      No more topics...
    </div>
  </ng-template>
</section>
