div.dashboard-section {
    margin-bottom: 2em;
}

button.btn {
    width: 20em;
    max-width: 100%;
}

button.signOutButton {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.signOutButtonContainer {
    text-align: center;
}

input.nameInput {
    text-align: center;
}